<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Sanjay K Music</title>

    <%= stylesheet_link_tag "normalize", "all", "title" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65843611-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <header>
      contact@sanjaykmusic.com
      <div class="right">
        <ul>
          <li><a target="_blank" href="https://facebook.com/sanjaykmusic"><%= image_tag('icons/facebook.png')%></a></li>
          <li><a target="_blank" href="https://youtube.com/sanjaykmusic"><%= image_tag('icons/youtube.png')%></a></li>
          <li><a target="_blank" href="https://soundcloud.com/sanjaykmusic"><%= image_tag('icons/soundcloud.png')%></a></li>
          <li><a target="_blank" href="https://instagram.com/sanjaykmusic"><%= image_tag('icons/instagram.png')%></a></li>
          <li><a target="_blank" href="https://itunes.apple.com/us/album/keep-lovin-you-single/id1027258154"><%= image_tag('icons/itunes.png')%></a></li>
          <li><a target="_blank" href="https://play.spotify.com/artist/3lFfF79DKYZDIpVHgv5PWx"><%= image_tag('icons/spotify.png')%></a></li>
          <li><a target="_blank" href="https://play.google.com/store/music/album/Sanjay_K_Keep_Lovin_You?id=Bnqbhfrnfd3efpfandxw4lfug5y&hl=en"><%= image_tag('icons/google-play.png')%></a></li>
          <li>Follow</li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
