<header>
  contact@sanjaykmusic.com
  <div class="right">
    <ul>
      <li><a href="https://facebook.com/sanjaykmusic"><%= image_tag('facebook.png', width: '40', height: '40' )%></a></li>
      <li><a href="https://youtube.com/sanjaykmusic"><%= image_tag('youtube.png',  width: '40', height: '40')%></a></li>
      <li><a href="https://soundcloud.com/sanjaykmusic"><%= image_tag('soundcloud.png',  width: '40', height: '40')%></a></li>
      <li><a href="https://instagram.com/sanjaykmusic"><%= image_tag('instagram.png',  width: '40', height: '40')%></a></li>
      <li><a href="https://itunes.apple.com/us/album/the-universe-inside-me-ep/id570408728"><%= image_tag('itunes.png',  width: '40', height: '40')%></a></li>
      <li><a href="https://play.spotify.com/album/0Uwp55eTMLHVGsdkYrKHo5"><%= image_tag('spotify.png',  width: '40', height: '40')%></a></li>
      <li><a href="https://google-play.com/sanjaykmusic"><%= image_tag('google-play.png',  width: '40', height: '40')%></a></li>
      <li>Follow</li>
    </ul>
  </div>
</header>

<div class="main">
  <div id="title">
    Sanjay <circle><div class="arrow-left"></div>K</circle>
  </div>
</div>
